/* Container for the whole player */
.scorm-player-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Loading state centering */
.scorm-player-loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* The SCORM Iframe */
.scorm-player-iframe {
  flex-grow: 1;
  width: 100%;
  border: 0;
  display: block;
}

/* Modifier to hide the iframe (applied conditionally) */
.scorm-player-iframe.hidden {
  display: none;
}
